.frameViewer {
    background-color: white;
    width: 90%;
    height: 90%;
    position: relative;
    margin: auto;
    max-width: 1600px;
    min-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#333;
    padding: 0 3.2%;
    box-sizing: border-box;
    .frame-navi{
        width : 9.375%;
        height: 84%;
        img.frame-image{
            width: 100%;
            height: 100%;
            cursor: pointer;
            box-sizing: border-box;
            &:hover,&.active{
                border:1px solid #00ae66;
            }
        }
    }
    .frame-carousel-box{
        width : 57%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .frame-filter{
            height: 8%;
            display: flex;
            align-items: center;
            flex: 0 0 8%;
            span.frame-type{
                cursor: pointer;
                font-size: 16px;
                color:#333;
                margin-right: 30px;
            }
            span.frame-type:hover,span.frame-type.active{
                color : #00ae66;
            }
        }
        .frame-carousel{
            flex: 1 0 80%;
            position: relative;
            border: 1px solid #ddd;
            max-height: 84%;
        }
        .showBigLink{
            color: #666;
            position: absolute;
            right: 16px;
            bottom:14px;
            display: inline-flex;
            align-items: center;
            img {
                margin-right: 4px;
            }
        }
        .showBigLink:hover{
            color: #00ae66;
        }
        .frame-carousel img.big-frame-img{
            width: 100%;
            height: 100%
        }
    }
    .frame-info{
        display: flex;
        width: 23.7%;
        height: 84%;
        flex-direction: column;
        .main-info-box{
            flex: 0 0;
            border-bottom:1px dashed #ddd;
            margin-bottom: 6px;
            padding-bottom: 6px;
            h3.frameName {
                font-size: 20px;
                display: inline-block;
                font-weight: bold;
            }
            span.status{
                width: 36px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                display: inline-block;
                border-radius: 2px;
                text-align: center;
                vertical-align: 1px;
            }
            span[data-status="在售"]{
                color: #fa9633;
                background-color: rgba(250,150,51,0.14);
            }
            span[data-status="待售"]{
                background: rgba(64,168,249,0.14);
                color: #40a8f9;
            }
            span[data-status="售完"]{
                background: #f0f0f0;
                color: #9b9b9b
            }
            .info-name,.info-txt{
                font-size: 14px;
            }
        }
    }
    .price-calculator{
        background: url('/static/img/detail/icon_calculator.png');
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
        display: inline-block;
        vertical-align: -2px;
        position: relative;
        cursor: pointer;
        &:hover .price-window{
            display: block;
        }
    }
    .info-row{
        line-height: 32px;
    }
    .info-row.title{
        height: 32px;
        line-height: 32px
    }
    .field-row{
        line-height: 26px;
    }
    .price-window{
        position: absolute;
        width: 190px;
        height: 84px;
        display: none;
        right:-14px;
        top: 24px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,.12);
        border-radius: 2px;
        border: 1px solid #ddd;
        background-color: white;
        font-size: 12px;
        color: #333;
        padding: 14px 10px 8px;
        box-sizing: border-box;
    }
    .price-window span{
        margin-bottom: 6px;
        display: block;
        line-height: 14px;
        height: 14px
    }
    .price-window span.remark{
        color: #999
    }
    .price-window::before{
        content: '';
        position: absolute;
        right: 16px;
        top: -6px;
        border: solid #ddd;
        border-width: 1px 1px 0 0;
        transform: rotate(-45deg);
        background-color: white;
        width: 9px;
        height: 9px
    }
    .panel-name{
        font-weight: bold;
        padding: 0 10px;
        background-color: #f5f5f5;
        display: inline-block;
        line-height: 24px;
        height: 24px;
        margin:10px 0;
    }
    .field-name{
        color: #00ae66;
        font-weight: bold;
    }
    .close-btn{
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
    }
    .info-panel {
        flex: 1 1;
        overflow: auto;
    }
    .thumbnail-nav{
        width: 100%
    }
    .thumbnail-nav-next{
        transform:rotate(180deg);
    }
}
.scale-enter-active, .scale-leave-active{
    transition : all .5s ease;
}
.scale-enter, .scale-leave-to{
    transform : scale(0);
}
